<html>
  <head>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<%= GOOGLE_PLACES_API_KEY %>&libraries=places"></script>
    <script src='/angular/angular.js'></script>
    <script src='/js-data/dist/js-data.js'></script>
    <script src='/js-data-angular/dist/js-data-angular.js'></script>
    <script type="text/javascript" src="/angular-sanitize/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="/tv4/tv4.js"></script>
    <script type="text/javascript" src="/objectpath/lib/ObjectPath.js"></script>
    <script type="text/javascript" src="/angular-schema-form/dist/schema-form.min.js"></script>
    <script type="text/javascript" src="/angular-schema-form/dist/bootstrap-decorator.min.js"></script>
    <script src='/angular-ui-router/release/angular-ui-router.js'></script>
    <link rel='stylesheet' href='/bootstrap/dist/css/bootstrap.css'></link>
    <link rel='stylesheet' href='/flat-ui/css/flat-ui.css'></link>
  </head>
  <body ng-app='app'>
    <div ng-controller='NavCtrl'>
      <ul class='nav nav-tabs' style='margin-bottom: 10px'>
        <li ui-sref-active='active'><a ui-sref='departments'>Departments</a></li>
        <li ui-sref-active='active'><a ui-sref='categories'>Categories</a></li>
        <li ng-if='!auth.id'><a ui-sref='login'>Login</a></li>
        <li ng-if='auth.id'><a href='#' ui-sref='settings'>Settings</a></li>
        <li ng-if='auth.id'><a href='#' ng-click='logout()'>Logout ({{ auth.email}})</a></li>
      </ul>
    </div>
    <div class='container'>
      <h1>NWIND API</h1>
      
      <ui-view></ui-view>
    </div>
    
  <!-- inject:js -->
  <script src="/browser/javascript/app.js"></script>
  <script src="/browser/javascript/address.factory.js"></script>
  <script src="/browser/javascript/category.factory.js"></script>
  <script src="/browser/javascript/config.js"></script>
  <script src="/browser/javascript/department.edit.ctrl.js"></script>
  <script src="/browser/javascript/department.factory.js"></script>
  <script src="/browser/javascript/login.ctrl.js"></script>
  <script src="/browser/javascript/nav.ctrl.js"></script>
  <script src="/browser/javascript/product.factory.js"></script>
  <script src="/browser/javascript/session.factory.js"></script>
  <script src="/browser/javascript/user.factory.js"></script>
  <!-- endinject -->
  </body>
</html>
